{# Heredamos de la plantilla para PanelControllers #}
{% extends 'Master/PanelController.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <h1 class="mt-3">¡Hola Mundo! La página base del CRM funciona.</h1>
        <p>A partir de aquí, podemos construir el resto.</p>
    </div>
{% endblock %}